.form{
    display: flex;
    justify-content: center;

}

.form button{
    border:none;
    padding:10px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

#dark .form button{
    background-color: #005792;
    color:white;

}
.form input{
    min-width: 100% !important;
    border: none;
    border-radius: 3px;
    height: 100%;
    size:50;
    box-sizing: border-box;
}



  @media screen and (max-width:768px) {
 
    .form input{
      width: 300px;

       
    }



  }