.App {
  text-align: center;
  min-height: 90vh;
  border: 0;
  padding: 0;
  justify-content: center;
 
}

div.react-switch-bg {
  background-color: #00f8fe !important;
}
header {
  /* background-color: #1b376457; */
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

#dark header {
  background-color: rgba(12, 11, 11, 0.647);
}

#light header {
  background-color: rgba(255, 255, 255, 0.418);
}
h1 {
  text-align: center;
  margin: auto;
  align-self: center;
}

#dark {
  background-color: #1b3764;
  color: #fff;
  min-width: max-content;
 
}
#light {
  background-color: #35bcbf;
  color: #fff;
  min-width:100%;
 
}

.App-link {
  color: #61dafb;
}

.theme-description {
  color: white;
  margin-right: 8px;
  text-transform: capitalize;
}
.switch {
  display: flex;
  align-self: baseline;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.fewCloudsday {
  background-image: url("./assets/images/fewcloudsDay.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.cloudyDay {
  background-image: url("./assets/images/cloudy.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.clearNight {
  background-image: url("./assets/images/clear.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.sunny {
  background-image: url("./assets/images/sunny.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.cloudyNight {
  background-image: url("./assets/images/nightFewclouds.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.scateredDay {
  background-image: url("./assets/images/scateredDay.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.scateredNight {
  background-image: url("./assets/images/scateredNight.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.brokenDay {
  background-image: url("./assets/images/brokenday.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.brokenNight {
  background-image: url("./assets/images/brokenEvening.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.showerDay {
  background-image: url("./assets/images/rainshowerDay.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.showerNight {
  background-image: url("./assets/images/rainShowernight.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.rainDay {
  background-image: url("./assets/images/rainDay.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.rainNight {
  background-image: url("./assets/images/rainNight.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.thunderDay {
  background-image: url("./assets/images/thunderDay.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.thunderNight {
  background-image: url("./assets/images/thunderNight.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.snowDay {
  background-image: url("./assets/images/snowday.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.snowNight {
  background-image: url("./assets/images/snownight.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.mist {
  background: linear-gradient(
      0deg,
      rgba(9, 9, 9, 0.781),
      rgba(12, 12, 12, 0.473)
    ),
    url("./assets/images/fog-g9107571df_1920.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.moderateRain {
  background: linear-gradient(
      0deg,
      rgba(9, 9, 9, 0.199),
      rgba(12, 12, 12, 0.092)
    ),
    url("./assets/images/moderateRain.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.overcastDay {
  background: linear-gradient(
      0deg,
      rgba(9, 9, 9, 0.199),
      rgba(12, 12, 12, 0.092)
    ),
    url("./assets/images/overcastDay.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 105vh;
    justify-content: center;
  }

  header {
    display: block;
    margin-bottom: 20px;
  }

  #light {
    display: block;
    background-color: #35bcbf;
    color: #fff;
 min-width: max-content;
    
  }

  #dark {
    display: flex;
    background-color: #1b3764;
    color: #fff;
    min-width: fit-content;
  }
}


@media screen and (min-width:1200px) {
  
.App{
  min-height: 95vh;
}
}