.App {
  text-align: center;
  min-height: 100vh;
  border:0;
  padding:0;
 
  justify-content: center;
}

header{
  background-color: #333;
  display:flex;
  padding:10px;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
  
}

h1{
  text-align: center;
  margin:auto;
}


#dark {
  background-color: #1b3764;
  color: #fff;
}
#light {
  background-color: #35bcbf;
  color: #fff;
}
.App-link {
  color: #61dafb;
}

.theme-description{
color:white;
margin-right: 8px;
text-transform: capitalize;
}
.test{
  padding:100px;
  background-color: blue;
  width: fit-content;
  margin:auto;
  border-radius: 20px;
}

.switch {
display:flex;
align-self: baseline;
  /* width: 100vw;
  height: 100px; */
  justify-content: center;
  align-items: center;
  margin-top: 10px;


}

.switch label {
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}
#light .test{
  padding:100px;
  background-color: rgba(255, 0, 191, 0.342);
  width: fit-content;
  margin:auto;
  border-radius: 20px;
}

#dark .test{
  color:black;
  padding:100px;
  background-color: yellow;
  width: fit-content;
  margin:auto;
  border-radius: 20px;
}
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
} */

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}


#dark > div.switch > div > div.react-switch-bg{
  background-color: pink!important;
}
